.menu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 2rem;
  display: grid;
  place-items: center;
  grid-template-rows: 40px 1fr;

  & > button {
    justify-self: flex-end;
    max-width: 100px;
  }
}
