@import '../../styles/colors.scss';

.menu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 2rem;
  display: grid;
  place-items: center;
  grid-template-rows: 40px 1fr;
  z-index: 20;
  background-color: var(--surface-color);
  color: var(--text-color);

  & > button {
    justify-self: flex-end;
    max-width: 100px;
  }
}
