@import '../../styles/typography.scss';
@import '../../styles/others.scss';
@import '../../styles/breakpoints.scss';

@mixin wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--surface-color);
  transition: map-get($others, 'fast-transition');
  transition-property: backgroud-color, border, color;

  > .dragonName {
    font-size: 2rem;
    font-weight: map-get($typography, 'bold');
    color: var(--title-color);
  }
  > .buttonsWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.row {
  @include wrapper;
  > .dragonName {
    flex: 1;
    padding-left: 8px;
  }
  > .buttonsWrapper {
    flex: 0.5;
    max-width: 120px;
  }

  @media screen and (min-width: map-get($breakpoints, 'desktop' )) {
    & > .buttonsWrapper {
      margin-right: 50px;
    }
  }
}

.column {
  @include wrapper;
  flex-direction: column;

  height: 200px;
  width: 300px;

  box-shadow: map-get($others, 'box-shadow');
  border-radius: map-get($others, 'border-radius');

  > svg {
    flex: 0.5;
  }

  > .buttonsWrapper {
    flex: 0.5;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
