$colors: (
  background-light: #f2f2f2,
  surface-light: #ffffff,
  title-on-light: #202124,
  text-on-light: #5f6368,
  background-dark: #121212,
  surface-dark: #333333,
  title-on-dark: #fafafa,
  text-on-dark: #cccccc,
  primary: #ff8c33,
  primary-light: #ffbd63,
  primary-dark: #c65d00
);
