@import '../../styles/colors.scss';
@import '../../styles/others.scss';
@import '../../styles/spacing.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  box-shadow: map-get($others, 'box-shadow');
  padding: map-get($spacing, 'small');
  background-color: var(--surface-color);
  color: var(--title-color);
  transition: map-get($others, 'fast-transition');
}
