@import '../../styles/colors.scss';
@import '../../styles/others.scss';

.wrapper {
  display: flex;
  align-items: center;
  justify-items: center;

  & > .toggleButton {
    display: none;
    & + label {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid;
      border-color: map-get($colors, 'primary');
      color: map-get($colors, 'primary');
      padding: 0.5rem 1rem;
      border-radius: 0 map-get($others, 'border-radius')
        map-get($others, 'border-radius') 0;
      &:first-of-type {
        border-radius: map-get($others, 'border-radius') 0 0
          map-get($others, 'border-radius');
      }
    }
    &:checked {
      & + label {
        color: map-get($colors, 'background-light');
        background-color: map-get($colors, 'primary');
      }
    }
  }
}
